// VARIABLES
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99e2d0;

$fa-font-path: "./webfonts";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "scss/regular.scss";


// RESET DEFAULT CSS SETTINGS
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

a {
  color: black;
  text-decoration: none; /* no underline */
  cursor: pointer;
}

html {
  width: 100%;
}

// END RESET



body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
  font-family: 'Shrikhand', cursive;
  padding: .25em
}

// HEADER

header {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-top: .5em;
  text-align: center;
  z-index: 1;
}

// MAIN
main {
  display: grid;
  grid-template-columns: 1fr;
}

#location {
  padding: 1em;
  background-color: rgb(230, 230, 230);
  display: flex;
  color: rgb(66, 66, 66);
  justify-content: center;

  .map-marker {
    @extend %fa-icon;
    @extend .fas;
    &:before {
      content: fa-content($fa-var-map-marker-alt);
    }
  }
  p {
    padding-left: 1em;
  }
}

// BUSINESS
#business {
  background-color: rgb(243, 243, 243);
  padding: 2em;
  text-align: center;
  h2 {
    padding-bottom: .5em;
  }
  p {
    color: rgb(112, 112, 112);
  }
  button {
    border: none;
    margin: 2em 0;
    padding: 1em;
    font-size: large;
    color: white;
    background-image: linear-gradient(-10deg, $primary-color, $secondary-color);
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: background-image 2s linear 2s, box-shadow 1s;
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      background-image: linear-gradient(-10deg, $primary-color, $secondary-color 75%);
      cursor: pointer;
    }
  }
}



// OPERATION
#operation {
  padding: 3em 2em;
  h2 {
    padding-bottom: 1em;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}


#operation .card {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow 1s ease-out;
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  &>p {
    position: absolute;
    color: white;
    margin-left: -2.7em;
    margin-top: -0.2em;
    background-color: $primary-color;
    border-radius: 30px;
    padding: 0.25em 0.5em;
  }

  .step {
    width: 100%;
    display: flex;
    font-weight: bold;
    
    i {
      color: grey;
      font-size: larger;
      padding: 0 1em;
    }
  }

  &:hover {
    background-color: #F4ECFF;
    i {
      color: $primary-color;
    }
  }
}

@media screen and (min-width: 1000px) {
  #operation {
    .cards {
      flex-direction: row;
      justify-content: space-between;
      .card {
        width: 80%;
      }
    }
  }
}


// RESTAURANTS
#restaurants {
  background-color: rgb(243, 243, 243);
  padding: 3em 1em;
  h2 {
    padding-bottom: 1em;
  }
  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
}

// CARD
#restaurants .card {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0 ;
  }
  .new {
    background-color: $tertiary-color;
    position: absolute;
    border-radius: 5px;
    padding: .5em 1em;
    margin-top: 1em;
    margin-left: -7em;
    font-weight: bold;
    font-size: 0.9em;
    color: #00a87e;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    p {
      padding-top: 0.25em;
    }
  }
  .icon {
    @extend %fa-icon;
    @extend .far;
    font-size: x-large;
    cursor: pointer;
    &:after {
      content: fa-content($fa-var-heart);
    }
    transition: color 1s ease-in 1s;
    
    &:hover {
      @extend .fas;
      &:before {
        color: $secondary-color;
        background: linear-gradient(200deg, $primary-color, $secondary-color);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        content: fa-content($fa-var-heart);
      }
      
    }
  }
}

@media screen and (min-width: 1000px) {
  #restaurants {
    .cards {
      flex-direction: row;
    }
  }
}


// FOOTER
footer {
  color: white;
  padding: 1em 1em 3em 1em;
  background-color: rgb(65, 65, 65);

  h3 {
    font-family: 'Shrikhand', cursive;
    padding-bottom: 1em;
  }
  a {
    color: white;
    display: flex;
    i {
      width: 1em;
      padding-right: 1em;
      &+p {
        font-weight: bolder;
      }
    }
  }
  p {
    padding: .25em 0;
  }
}
