footer {
  color: white;
  padding: 1em 1em 3em 1em;
  background-color: rgb(65, 65, 65);

  h3 {
    font-family: 'Shrikhand', cursive;
    padding-bottom: 1em;
  }
  a {
    color: white;
    display: flex;
    align-items: center;
    i {
      width: 1em;
      padding-right: 1em;
      &+p {
        font-weight: bolder;
      }
    }
  }
  p {
    padding: .25em 0;
  }
}