body {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    float: left;
    padding-left: 1em;
    z-index: 5;
    i {
      font-size: x-large;
    }
  }
  h1 {
    width: 100%;
    text-align: center;
  }
}

.head {
  max-height: 700px;
}

#menu {
  background-color: rgb(235, 235, 235);
  header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 2em 1em 1em 1em;
    margin-top: -50px;
    background-color: rgb(235, 235, 235);
    border-radius: 50px 50px 0 0;
    box-shadow: inherit;
    h2 {
      font-family: 'Shrikhand', cursive;
    }
    .icon {
      padding-right: 1em;
    }
  }
  .dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h3 {
      align-self: flex-start;
      font-weight: 300;
      text-transform: uppercase;
      padding-bottom: 0.25em;
    }
    .line {
      align-self: flex-start;
      width: 50px;
      border-bottom: $tertiary-color 4px solid;
    }
    .cards {
      padding: 1em 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1em;
    }
  }
  article {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    display: block;
    margin: auto;    
    width: fit-content;
    margin-bottom: 3em;
    padding: 1em 3em;
    h2 {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

#menu .card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 340px;
  animation: slide-in 1s both;
  .dish {
    width: 100%;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    h4 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .bottom-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .dish--info {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .price {
        font-weight: 600;
        padding-left: 1em;
      }
    }
  }
  .add {
    width: 0%;
    overflow-x: hidden;
    transition: all 1s ease-in-out;
    i {
      visibility: hidden;
    }
  }
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    .dish h4, .dish-info {
      width: 75%;
    }
    .add {
      background-color: $tertiary-color;
      border-radius: 0 10px 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      i {
        font-size: 1.3em;
        color: white;
        visibility: visible;
      }
    }
  }
}