@keyframes move-price{
  from {
    // transform: translateX(0%);
  }
  to {
    // transform: translateX(100%);
  }
}

@keyframes add-check{
  from {
    margin-left: 100%;
    overflow-x: hidden;
  }
  to {
    margin-left: 0%;
    width: 15%;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
