$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99e2d0;
$fa-font-path: "./webfonts";

$breakpoints: (
        low-mobile: 374px,
        mobile: 375px,
        large-mobile: 376px,
        tablet: 600px,
        landscape-tablet: 768px,
        laptop: 1025px,
        large-desktop: 1440px
);